.arrow{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 64px;
    height: 64px;
    background: transparent url('../img/direction_arrow_red_up.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0.5;
}
.arrow:hover{
    opacity: 1;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.arrow a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

/*Стилі для хідера*/

header{
    background: #D73600 ;
    border-bottom: 1px solid #000;
}
header h2{
	color: #EAF8BF;
    font-size:32px;
    text-align:left;
    padding: 25px 50px;
    text-shadow: 3px 3px 3px #1C1C1D;
    text-transform: uppercase;
}
.buttons{
    margin-left: 50px;
}
.button{
    padding: 3px 8px;
    display: inline-block;
    border: 2px solid #D73600;
    margin: 5px 5px 5px 5px;
    text-transform: uppercase;
    font-size:16px;
}
.button:hover{
    padding: 3px 8px;
    display: inline-block;
    border: 2px solid #EAF8BF;
    margin: 5px 5px 5px 5px;
	text-transform: uppercase;
}
.button h4{
    color: #EAF8BF;
}
.text{
    margin-right: 10px;
    max-width: 40%;
    float: right;
    padding: 10px 5px 0 5px;
    font-size: 16px;
}
.text h4, h4 span{
    color: #ECA400;
    padding: 5px 10px 0 0;
    text-shadow: 0 1px 2px #000;
}
/*----------------MAIN----------------*/
main{
    width: 100%;
    min-width: 480px;
    padding: 10% 4%;
    background-image: url('../img/background.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.container{
    display: table;
    width: 90%;
    margin: 0 auto;
}

/*------------------for-pictures------------------*/
.pic_view_container img{
    width: 70%;
    display: block;
    margin: 0 auto;
}
/*----------------end-for-pitures----------------*/

.row{
    display: table-row;
    width: 100%;
}
.col{
    display: table-cell;
    width: 32%;
    padding: 1%;
    text-align: center;
}
main .container img{
    display: block;
    margin: 0 auto;
    width: 60%;
}

main .container a{
    color: #EAF8BF;
}

main .container a:hover{
    color: #ECA400;
    font-weight: bold;
    letter-spacing: 1px;
}
/*Стилі для футера*/

footer{
    background: #1C1C1D;
    height:100px;
}
.footer{
    padding:35px 30px;
}
#el_paso{
    color: #EAF8BF;
    float: left;
}
.footer #copy{
    text-align:center;
    color: #EAF8BF;
    padding: 0 130px 0 0;
}
b{
    color: #ECA400;
    text-transform: uppercase;
}

