.pic_page {
	background: #EAF8BF;
    width: 100%;
    height: 750px;
}
/*Стилі для хідера*/
header{
    height: 120px;
    background: #D73600 ;
    border-bottom: 1px solid #000;
}
header h2{
	color: #EAF8BF;
    font-size:36px;
    text-align:left;
    padding:10px 100px;
    text-shadow: 3px 3px 3px #1C1C1D;
}
.buttons{
    margin-left: 100px;
}
.button{
    padding: 3px 8px;
    display: inline-block;
    border: 2px solid #D73600;
    margin: 5px 50px 5px 5px;
}
.button:hover{
    padding: 3px 8px;
    display: inline-block;
    border: 2px solid #EAF8BF;
    margin: 5px 50px 5px 5px;
}
.button h4{
    color: #EAF8BF;
}
.text{
    display: inline-block;
}
.text h4{
    color: #ECA400;
} 
/*Стилі для фото*/
img {
    display: block;
    margin: 25px auto;
    border-radius: 2px;
}

/*Стилі для футера*/

footer{
    background: #1C1C1D;
    height:100px;
}
.footer{
    padding:35px 0 35px 50px;
}
#el_paso{
    color: #EAF8BF;
}
.footer #copy{
    text-align:center;
    color: #EAF8BF;
}
b {
    color: #ECA400;
}
