.basic {
    background:#E5F7BE;
    width: 100%;
	height: 1140px;
}
header {
	width: 100%;
	height: 70px;
    background: #FFA500;
}
header h2{
	font-size:36px;
	padding:15px 0 0 28px;
	color:#000000;
	text-shadow: 3px 3px 3px rgba(130, 0, 0, 0.8);
}
section .chapter{
	display:block;
	width: 100%;
	height: 55px;
	position:relative;
	background:#FFA500;
	}
section .chapter .block-m {
    width:12%;
    height:30 px;
	float:left;
    background:#FFA500;
	padding: 3px 0 3px 0;
	}
section .chapter .block-m .home {
    height:100%;
	width: 65px;
	padding: 0 0 0 28px;
	margin-right:91300px;
	border: 2 px solid #567892;
	}
section .chapter .block-m .arch {
    height:100%;
	width: 100px;
	padding: 0;
	}
section .chapter .block-m .making {
    height:100%;
	width: 135px;
	}	
section .chapter .block-m .view {
    height:100%;
	width: 135px;	
	}
section .chapter .block-m .concurency{
    height:100%;
	width: 180px;	
	}
section .chapter .block-m .application{
    height:100%;
	width: 200px;
	padding: 0 0 0 50px;
	}
section .chapter .block-m .session{
    height:100%;
	width: 110px;
	padding: 0 0 0 50px;
	}
section .chapter .block-m .optimistic{
    height:100%;
	width: 200px;
	}
section .chapter .block-m  h3 {
    color:ffffff;
    padding:0;
	}
/*Стилі для футера*/
footer {
    background:#000000;
    height:80px;
}
#copy {
    margin:0 auto;
    padding:35px 0;
    text-align:center;
    font-size: 18px;
    color:#E5F7BE;
    text-shadow: 0px 2px 5px #000;
}